# Hypothesis test assignment

## 1. Cutlets

### Given
alpha = 0.05

### Assume

Y = continuous

X = Discrete

Y1 and Y2 are two units

H0 = Both Y1 and Y2 are normal

H1 = Both are not normal

### Normality test

In [3]:
import numpy as np
import pandas as pd
from scipy import stats

In [5]:
data1=pd.read_csv('Cutlets.csv')

In [7]:
data1.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [8]:
stats.shapiro(data1["Unit A"])

ShapiroResult(statistic=0.9649458527565002, pvalue=0.3199819028377533)

In [9]:
stats.shapiro(data1["Unit B"])

ShapiroResult(statistic=0.9727300405502319, pvalue=0.5224985480308533)

#### As we can see pvalues for both the units are greater than Aplha. Hence we can accept Null Hypothesis (H0)

## 2. LabTAT

### Given
alpha = 0.05

### Assume

Y = continuous

X = Discrete

Y1, Y2, Y3 Y4 are four lab

H0 = All are normal

H1 = All are not normal

### Normality test

In [14]:
data2=pd.read_csv('LabTat.csv')

In [15]:
data2.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [16]:
stats.shapiro(data2["Laboratory 1"])

ShapiroResult(statistic=0.9901824593544006, pvalue=0.5506953597068787)

In [17]:
stats.shapiro(data2["Laboratory 2"])

ShapiroResult(statistic=0.9936322569847107, pvalue=0.8637524843215942)

In [18]:
stats.shapiro(data2["Laboratory 3"])

ShapiroResult(statistic=0.9886345267295837, pvalue=0.4205053448677063)

In [19]:
stats.shapiro(data2["Laboratory 4"])

ShapiroResult(statistic=0.9913753271102905, pvalue=0.6618951559066772)

#### As we can see pvalues for all the 4 labrotary are greater than Aplha. Hence we can accept Null Hypothesis (H0)

### Variance test

#### Assume

H0 = All variance are same

H1 = All are variance notsame

In [22]:
stats.levene(data2["Laboratory 1"], data2["Laboratory 2"], data2["Laboratory 3"], data2["Laboratory 4"])

LeveneResult(statistic=2.599642500418024, pvalue=0.05161343808309816)

#### As we can see pvalue is greater than Aplha. Hence we can accept Null Hypothesis (H0)

### Annova test

#### Assume

H0 = Mean TAT for all labrotaries are equal

H1 = Mean TAT for all labrotaries are not equal

In [24]:
stats.stats.f_oneway(data2["Laboratory 1"], data2["Laboratory 2"], data2["Laboratory 3"], data2["Laboratory 4"])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

#### As we can see pvalue is less than Aplha. Hence we can accept Alternative Hypothesis (H1)

## 3. Buyer ratio

As we can see there are two variables, we will be going with Chisquare test



#### Assume

Since confidence is not given lets assume it to be 95%.Then Alpha = 0.05

H0 = Both Male and Female buyer ratio is same 

H1 = Both Male and Female buyer ratio is not same

In [29]:
data3=pd.read_csv('BuyerRatio.csv')

In [31]:
data3

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [33]:
stats.chi2_contingency([data3["East"], data3["West"], data3["North"], data3["South"]])

(1.5959455386610577,
 0.6603094907091882,
 3,
 array([[  42.76531299,  442.23468701],
        [ 146.81287862, 1518.18712138],
        [ 131.11756787, 1355.88243213],
        [  72.30424052,  747.69575948]]))

#### As we can see pvalue is greater than Aplha. Hence we can accept Null Hypothesis (H0)

## 4. Customer order form

As we can see there are more than two variables, we will be going with Chisquare test

### Given
alpha = 0.05

### Assume

H0 = Defective % doesnot varies by center

H1 = Defective % varies by center

In [37]:
data4=pd.read_csv('Costomer+OrderForm.csv')

In [38]:
data4.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [39]:
stats.chi2_contingency([data4['Phillippines'].value_counts(), data4['Indonesia'].value_counts(), data4['Malta'].value_counts(), data4['India'].value_counts()])

(3.8589606858203545,
 0.2771020991233144,
 3,
 array([[271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25]]))

#### As we can see pvalue is greater than Aplha. Hence we can accept Null Hypothesis (H0)